EXPO_APPLE_APP_SPECIFIC_PASSWORD=rijy-wpfi-fbtw-jzin
# expo push:android:upload --api-key
# eas update:configure
# eas build --platform ios --local
# eas build -p ios --profile preview
# eas channel:edit
